<%- include("{{RELATIVE_PATH}}partials/head.ejs") %>

<%- include("{{RELATIVE_PATH}}partials/header.ejs") %>

<div class="col-xs-12" style="height:120px;"></div>

<div class="container project">

  <h1 class="section-header-dark title"><%= meta.title %></h1>

  {{BODY_EJS}}

  <div class="col-xs-12" style="height:40px;"></div>

</div>

<%- include("{{RELATIVE_PATH}}partials/footer") %>

<%- include("{{RELATIVE_PATH}}partials/foot") %>
